body {
font-family:'Prociono', serif !important;
background-color: rgb(211, 206, 206) !important;
background-image: url('https://cdn.pixabay.com/photo/2016/10/18/09/02/hotel-1749602__480.jpg')!important;
background-repeat: no-repeat;
background-size: cover;
}
