<div id="image">
    <div class="container ">
        <div class="row">
            <div class="col-md-6 bg-white mt-5 card">
                <h1>HOTEL POLICIES</h1>
                <li>Check-in
                    please present your Id card,passport or Temporary Residence card upon Check-in.These documents will
                    be
                    returned upon departure.
                </li>
                <li>Departure
                    Plese inform the reception if you wish to retain your room beyond this time.
                    The extension will be given depending upon the availability.
                </li>
                <li>
                    Luggage Storage
                    Subject to availability of the storage sapce,the guest can store luggage in the luggage room,at
                    their
                    own risk.
                </li>
                <li>
                    Guest's belongings
                    Guests are particularly requested tp lock the door of their rooms when going out.
                </li>
                <li>
                    Management's rights
                    It is agreed that the guest will conduct him/herself in a respectable manner and will not cause any
                    nuisance within the hotel premise.
                </li>
                <li>
                    User's Rights
                    Right to privacy is a basic right.
                    You have the right to file a complaint if the hotel embellished their advertisement with services
                    that
                    are actually unavailable.
                </li>

            </div>
            <div class="col-md-6 bg-white mt-5 card">
                <h1>FACILITIES </h1>
                <li> Car parking </li>
                <li>Semi open and outdoor restaurant </li>
                <li>24 hrs security</li>
                <li>Water purification System</li>
                <li>Free wireless Internet service</li>
                <li>Laundry service</li>
                <li>Room Service 24hour</li>
                <li>24-hour reception</li>
            </div>

        </div>
    </div>
</div>